body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin: 0;
	padding: 0;
	background-image: url("../images/sayagata-400px.png");
	background-repeat: repeat-y repeat-x;
}

a{
	text-decoration: none;
	color: #777777;
}

a:hover{
	text-decoration: underline;
	color: #4aaaa5;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.container{
	width: 100%;
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	height: 70px;
	background-color: #FFF !important;
	border-bottom: 3px solid #CCC;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.cheader{
	width: 1140px;
	margin: 0 auto;
	height: 70px;
}

.cname{
	width: 340px;
	text-align: center;
	height: 70px;
	background-color: #4aaaa5;
	color: #FFF;
	float: left;
}

.clinks{
	padding: 25px 10px 0 10px;
	text-align: center;
	height: 70px;
	float: right;
}

.content{
	width: 100%;
	margin-top: -20px;
}

.cinfo{
	width: 1140px;
	margin: 0 auto;
	height: 100%;
}

.cabout{
	float: left;
	width: 65%;
	padding: 0 20px 20px 20px;
	margin: 50px 15px 30px 0;
	background-color: #FFF !important;
	line-height: 180%;
	border: 1px solid #DDD;
}

.cimg{
	float: left;
	width: 200px;
	height: 170px;
	margin: 15px 20px 20px 0;
}

.cconnect{
	float: left;
	width: 25%;
	padding: 0 20px 20px 20px;
	margin: 8px 0 30px 15px;
	background-color: #FFF !important;
	border: 1px solid #DDD;
	text-align: center;
}

.sep{
	color: #CCC;
}

.cgreen{
	color: #4aaaa5;
}

.cimgconn{
	margin: 15px 10px 0 10px;
}

.cfooter{
	width: 100%;
	height: 45px;
	background-color: #666 !important;
	border-top: 6px solid #4aaaa5;
	position: fixed;
	bottom: 0;
	text-align: center;
	color: #FFF;
	font-size: 11px;
	padding-top: 25px;
}

.inputs{
	/*width: 100%;*/
	margin-bottom: 15px;
}

.inputs input{
	height: 30px;
	border: 1px solid #CCC;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.inputs textarea{
	border: 1px solid #CCC;
	width: 100%;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.ccontact{
	float: left;
	width: 65%;
	padding: 0 20px 20px 20px;
	margin: 50px 15px 30px 0;
	background-color: #FFF !important;
	line-height: 180%;
	border: 1px solid #DDD;
}

.cinput{
	width: 97% !important;
}

.csubmit{
	padding: 8px 20px 8px 20px;
	background-color: #4aaaa5;
	color: #FFF;
	border: 0;
}

.csubmit:hover{
	background-color: #666;
	cursor: pointer;
}

.cport{
	width: 220px;
	float: left;
	padding: 10px;
	position: relative;
}

.cportfolio{
	margin: 0 auto;
	margin-left: -10px;
}

.porttitle{
	padding-top: 10px;
	color: #FFF;
	text-align: center;
	background-color: #4aaaa5;
	width: 222px;
	height: 40px;
	float: left;
   	position: absolute;
   	left: 25px;
   	bottom: 30px;
   	z-index: 1000;
}

.cimgport{
	width: 100% !important;
	height: 90% !important;
	margin: 0 15px 0 15px;
	border: 1px solid #CCC;
}

@media screen and (max-width: 980px) {
	.cheader{
		width: 820px;
		margin: 0 auto;
		padding: 0 80px;
		height: 70px;
	}
	
	.content{
		width: 820px;
		margin: 0 auto;
		padding: 0 80px;
		margin-top: -20px;
		padding-bottom: 70px;
	}
	
	.cinfo{
		width: 820px;
		margin: 0 auto;
		height: 100%;
	}
	
	.cabout{
		float: left;
		width: 50%;
		padding: 0 20px 20px 20px;
		margin: 50px 15px 30px 0;
		background-color: #FFF !important;
		line-height: 180%;
		border: 1px solid #DDD;
	}
	
	.cconnect{
		float: left;
		width: 35%;
		padding: 0 20px 20px 20px;
		margin: 8px 0 100px 15px;
		background-color: #FFF !important;
		border: 1px solid #DDD;
		text-align: center;
	}
	
	.cport{
		width: 90%;
		float: left;
		padding: 10px;
		position: relative;
	}
	
	.porttitle{
		padding-top: 10px;
		color: #FFF;
		text-align: center;
		background-color: #4aaaa5;
		width: 95.5%;
		height: 40px;
		float: left;
	   	position: absolute;
	   	left: 25px;
	   	bottom: 30px;
	   	z-index: 1000;
	}
	
	.ccontact{
		float: left;
		width: 50%;
		padding: 0 20px 20px 20px;
		margin: 50px 15px 30px 0;
		background-color: #FFF !important;
		line-height: 180%;
		border: 1px solid #DDD;
	}
	
	.cinput{
		width: 94.6% !important;
	}
	
	.cfooter{
		width: 100%;
		height: 45px;
		background-color: #666 !important;
		border-top: 6px solid #4aaaa5;
		position: fixed;
		bottom: 0;
		text-align: center;
		color: #FFF;
		font-size: 11px;
		padding-top: 25px;
		z-index: 1000;
	}
}

@media screen and (max-width: 768px) {
	.cheader{
		width: 728px;
		margin: 0 auto;
		padding: 0 20px;
		height: 70px;
	}
	
	.content{
		width: 728px;
		margin: 0 auto;
		padding: 0 20px;
		margin-top: -20px;
		padding-bottom: 70px;
	}
	
	.cinfo{
		width: 728px;
		margin: 0 auto;
		height: 100%;
	}
	
	.cabout{
		float: left;
		width: 94%;
		padding: 0 20px 20px 20px;
		margin: 20px 0 30px 0;
		background-color: #FFF !important;
		line-height: 180%;
		border: 1px solid #DDD;
	}
	
	.cconnect{
		float: left;
		width: 98%;
		padding: 0 0 20px 10px;
		margin: 0 0 90px 0;
		background-color: #FFF !important;
		border: 1px solid #DDD;
		text-align: center;
	}
	
	.cimgconn{
		margin: 15px 10px 0 10px;
		float: left;
	}
	
	.cport{
		width: 45%;
		float: left;
		padding: 10px;
		position: relative;
	}
	
	.porttitle{
		padding-top: 10px;
		color: #FFF;
		text-align: center;
		background-color: #4aaaa5;
		width: 94.5%;
		height: 40px;
		float: left;
	   	position: absolute;
	   	left: 25px;
	   	bottom: 30px;
	   	z-index: 1000;
	}
	
	.ccontact{
		float: left;
		width: 94%;
		padding: 0 20px 20px 20px;
		margin: 50px 15px 30px 0;
		background-color: #FFF !important;
		line-height: 180%;
		border: 1px solid #DDD;
	}
	
	.cinput{
		width: 94.6% !important;
	}
	
	.cfooter{
		width: 100%;
		height: 45px;
		background-color: #666 !important;
		border-top: 6px solid #4aaaa5;
		position: fixed;
		bottom: 0;
		text-align: center;
		color: #FFF;
		font-size: 11px;
		padding-top: 25px;
		z-index: 1000;
	}
}

@media screen and (max-width: 640px) {
	.header{
		width: 100%;
		height: 100px;
		background-color: #FFF !important;
		border-bottom: 3px solid #CCC;
		font-family: 'Georgia', Times, Times New Roman, serif;
		padding: 0;
	}
	
	.cheader{
		width: 620px;
		padding: 0;
		height: 100px;
	}
	
	.content{
		width: 620px;
		margin: 0 auto;
		padding: 0 20px;
		margin-top: -20px;
		padding-bottom: 70px;
	}
	
	.cinfo{
		width: 100%;
		margin: 0 auto;
		height: 100%;
	}
	
	.cabout{
		float: left;
		width: 87%;
		padding: 0 20px 20px 20px;
		margin: 20px 0 30px 0;
		background-color: #FFF !important;
		line-height: 180%;
		border: 1px solid #DDD;
	}
	
	.cconnect{
		float: left;
		width: 92%;
		padding: 0 0 20px 10px;
		margin: 0 0 90px 0;
		background-color: #FFF !important;
		border: 1px solid #DDD;
		text-align: center;
	}
	
	.cimgconn{
		margin: 15px 10px 0 10px;
		float: left;
	}
	
	.cport{
		width: 93%;
		float: left;
		padding: 10px;
		position: relative;
	}
	
	.porttitle{
		padding-top: 10px;
		color: #FFF;
		text-align: center;
		background-color: #4aaaa5;
		width: 96.5%;
		height: 40px;
		float: left;
	   	position: absolute;
	   	left: 25px;
	   	bottom: 30px;
	   	z-index: 1000;
	}
	
	.ccontact{
		float: left;
		width: 87%;
		padding: 0 20px 20px 20px;
		margin: 50px 15px 30px 0;
		background-color: #FFF !important;
		line-height: 180%;
		border: 1px solid #DDD;
	}
	
	.cinput{
		width: 94.6% !important;
	}
	
	.cfooter{
		width: 100%;
		height: 45px;
		background-color: #666 !important;
		border-top: 6px solid #4aaaa5;
		position: fixed;
		bottom: 0;
		text-align: center;
		color: #FFF;
		font-size: 11px;
		padding-top: 25px;
		z-index: 1000;
	}
	
	.cname{
		width: 100%;
		height: 60px;
		background-color: #4aaaa5;
		color: #FFF;
		margin: 0 auto;
	}
	
	.clinks{
		width: 12%;
		padding: 10px 40px 0 0;
		height: 40px;
		float: right;
	}
	
	.cimg{
		float: left;
		width: 100%;
		height: 80%;
		margin: 15px 20px 20px 0;
	}
}